@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-grey-600: #3c3c3b;
  --color-grey-500: #81817e;
  --color-grey-200: #e6e6e6;
  --color-grey-100: #f2f2f2;
  --color-white: #ffffff;
  --color-primary: #cde966;
  --color-red: #95120b;
  --color-orange: #ff590b;
  --color-green: #005344;
  --color-purple: #b99fea;
  --color-orange-light: #ec9f7e;
}